name: Deploy Serverless

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      AWS_REGION: 'us-east-1'
      NEXT_PUBLIC_SPACE_ID: ${{secrets.NEXT_PUBLIC_SPACE_ID}}
      NEXT_PUBLIC_ACCESS_TOKEN: ${{secrets.NEXT_PUBLIC_ACCESS_TOKEN}}
      NEXT_PUBLIC_SITE_URL: ${{secrets.NEXT_PUBLIC_SITE_URL}}
      NEXT_PUBLIC_GA_ID: ${{secrets.NEXT_PUBLIC_GA_ID}}
      NEXT_PUBLIC_REVALIDATE_INTERVAL: ${{secrets.NEXT_PUBLIC_REVALIDATE_INTERVAL}}
      

    steps:
    - name: Check out repo master branch
      uses: actions/checkout@v2
      with:
          repository: mohanzeal/product-comparison
          ref: master
          token: ${{ secrets.CP_PROD_DEPLOY }}
    
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

    - name: Cache Yarn root node_modules
      uses: actions/cache@v2
      id: yarn-cache
      with:
          path: |
            **/node_modules
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
    
    - name: Install Yarn
      run: npm install -g serverless@2.72.2

    - name: Install dependencies
      run: yarn install --immutable

    - name: Run lint on all packages
      run: yarn lint

    - name: Run tests on all packages
      run: yarn test
    
    - name: Run Build on all packages
      run: yarn build

    - name: Download `.serverless` state from S3
      run: |
        aws s3 sync s3://aws-serverless-config-files/comparablez-frontend/prod packages/comparablez/.serverless --delete
        ls -lah
        cd packages/comparablez/.serverless && ls -lah
        echo 'done'

    - name: Deploy to AWS
      run: cd packages/comparablez && yarn deploy

    - name: Upload `.serverless` state to S3
      run: aws s3 sync packages/comparablez/.serverless s3://aws-serverless-config-files/comparablez-frontend/prod/ --delete 
